lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

data.json
lcov.info
coverage.html

node_modules
npm-debug.log
.DS_Store
.vscode
.coveralls.yml

public/swaggerui/static.html
public/swaggerui/static.json